<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property scope="context" name="default.logger.name" value="project-brian"/>
    <property scope="context" name="default.logger.formatted" value="false"/>

    <appender name="THIRD_PARTY_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.github.onsdigital.logging.v2.layout.ThirdPartyEventLayout">
                <Pattern>%n%msg</Pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="DP_LOG_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- Message is already formatted in JSON so just output to console -->
            <Pattern>%n%msg</Pattern>
        </layout>
    </appender>

    <logger name="project-brian" level="info" additivity="false">
        <appender-ref ref="DP_LOG_APPENDER"/>
    </logger>

    <!-- Suppress warnings from Reflections package caused by restolino framework -->
    <logger name="org.reflections" level="ERROR"/>

    <root level="WARN">
        <appender-ref ref="THIRD_PARTY_APPENDER"/>
    </root>

</configuration>
